
    {% if init %}
            <div class="chat" id="{{windowid}}" >
                    <div id="{{id}}msgs">
    {% endif %}
    					{% for msg in values %}
                            <div class="message{{ ( init and keyme and msg[ keyme ] ) ? ' reversed' }}{{ ( init == false and selfid ) ? ' ' ~ selfid }}">
                                {% if keythumb %}
                                    <img class="message-img" width="40" height="40" src="{{ msg[ keythumb ]|default( keythumbdefault ) }}">
                                {% endif %}

                                <div class="message-body chatadmin">
                                    {% if msg[ message.key ] %}

                                        {% if uploadcare %}
                                            {{ msg[ message.key ]|htmlpurifier }}
                                        {%  elseif textarea %}
                                            {{ msg[ message.key ]|t(15000)|nl2br }}
                                        {%  endif %}

                    					{% for meta in msg.metainfo|jsondecode %}

                                            {% if meta.title is defined %}
                                                <div class="callout callout-default" style="margin:10px 0px 10px 0px;background-color:white;border-width:4px;">

                                                {% if meta.url %}
                                                    <a href="{{ meta.url }}" target="_blank">
                                                {% endif %}

                                                {% if meta.title %}
                                                    <h5>{{ meta.title }}</h5>
                                                {% endif %}

                                                {% if meta.description %}
                                                    <p>{{ meta.description|t( 1000 ) }}</p>
                                                {% endif %}

                                                {% if meta.image %}
                                                    <img src="{{ meta.image }}" class="img-responsive" style="max-width:225px;max-height:200px">
                                                {% endif %}

                                                {% if meta.url %}
                                                    <span class="attribution" style="color:#777">{{ meta.url|domain }}</span>
                                                {% endif %}

                                                {% if meta.url %}
                                                 </a>
                                                {% endif %}

                                                </div>
                                            {% endif %}
                                        {% endfor %}

                                    {% elseif msg[ message.imgkey ] %}
                                        <img src="{{ cdn }}{{ msg[ message.imgkey ] }}" class="img-responsive" width="{{ msg[ message.imgwidth ] }}" height="{{ msg[ message.imgheight ] }}" />

                                    {% elseif msg[ message.moviekeythumb ] %}
                                        <video poster="{{ cdn }}{{ msg[ message.moviekeythumb ] }}" width="{{ msg[ message.moviekeywidth ] }}" height="{{ msg[ message.moviekeyheight ] }}" controls style="display:block; vertical-align:auto">
                                          {% if message.moviekeymp4 %}<source src="{{ cdn }}{{ msg[ message.moviekeymp4 ] }}" type="video/mp4">{% endif %}
                                          {% if message.moviekeywebm %}<source src="{{ cdn }}{{ msg[ message.moviekeywebm ] }}" type="video/webm">{% endif %}
                                          Your browser does not support the video tag.
                                        </video>

                                    {% endif %}
                                    
                                    {% if keyowner or keydate %}
                                    <span class="attribution">
                                    
                                        {% set labels = [] %}

                                        {% for it in message.labels if ( it.label and msg[ it.labeldepends ] ) %}
                                            {% set labels = labels|merge([it.label]) %}
                                        {% endfor %}

                                        {{msg[ keyowner ]|t(40)}}{{ labels is not empty ? ' (' }}{% for label in labels %}<b>{{ label }}</b>{{ loop.revindex0 ? ', ' }}{% endfor %}{{ labels is not empty  ? ')' }}{% if keyowner and keydate %}, {% endif %}{{msg[ keydate ]|ago}}
                                    </span>
                                    {% endif %}

                                </div>
                            </div>
                        {% endfor %}

    {% if init %}
                    </div>
            <div id="{{windowid}}end"></div>
                    <div class="message {{ wait.me ? 'reversed' }}" id="{{id}}wait" style="display:none">
                        <img class="message-img" width="{{ wait.size }}" height="{{ wait.size }}" alt="" src="{{ wait.thumb }}">
                        <div class="message-body">
                            <span class="typing"></span>
                        </div>
                    </div>
                </div>

            {% if textarea %}
                <textarea id="{{ id }}msg" placeholder="{{ textarea.help }}" cols="1" rows="3" class="form-control"></textarea>
            {% endif %}

            {% if uploadcare %}
                <textarea id="{{ id }}msg" data-froalaoptions='{{uploadcare.froalaoptions|raw}}' data-uploadcareoptions='{{uploadcare.uploadcareoptions|raw}}' data-processing='{{ uploadcare.processing }}' style="width:100%; height:100px" ></textarea>
            {% endif %}

            {% if url or buttons or filestack %}
                <div class="message-controls">
                    <div class="pull-right">
            {% endif %}

                        {% if filestackvideo %}
                            &nbsp;<button onClick='client.pick({{ filestackvideo.fsoptions|raw }} ).then(function(result){myfwsubmit("{{ filestackvideo.urlvideo }}","Processing ... please wait",{mov:result.filesUploaded[0].url},false,"info");});' class="btn btn-default btn-xs btn-icon" type="button"><i class="icon-movie"></i></button>
                        {% endif %}

                        {% if filestackimage %}
                            &nbsp;<button onClick='client.pick({{ filestackimage.fsoptions|raw }} ).then(function(result){myfwsubmit("{{ filestackimage.urlimage }}","Processing ... please wait",{img:result.filesUploaded[0].url},false,"info");});' class="btn btn-default btn-xs btn-icon" type="button"><i class="icon-image2"></i></button>
                        {% endif %}

                        {% if url and textarea %}
                            &nbsp;<button onClick="if($('#{{ id }}msg').val()!==''){myfwsubmit('{{ url }}','Sending ...',{msg:$('#{{ id }}msg').val()});$('#{{ id }}msg').val('');}" class="btn btn-primary btn-xs" type="button">{{ message.caption|default( 'Send message' ) }}</button>
                        {% endif %}

                        {% if url and uploadcare %}
                            <button onClick="if($('#{{ id }}msg').val()!==''){myfwsubmit('{{ url }}','Sending ...',{msg:        $('#{{ id }}msg').froalaEditor('html.get') });    $('#{{ id }}msg').froalaEditor('html.set', '');   }" class="btn btn-primary btn-xs" type="button">{{ message.caption|default( 'Send message' ) }}</button>
                        {% endif %}


                        {% for button in buttons %}
                            <a style="margin-left:5px;padding: 6px 12px;" type="button" class="btn btn-{{ button.class|default( 'primary' ) }}" onclick="{{ button.onclick }}">{% if button.icon %}<i class="{{ button.icon }}"></i>{% endif %} {{ button.label }}</a>
                        {% endfor %}

            {% if url or buttons or filestack %}
                    </div>
                </div>
            {% endif %}

    {% endif %}