                        

            <label>{{ label }}</label>

                <div data-clipboard-text="This will be copied" class="chat clipb{{ classname }}" id="proposalbox" style="min-height:30px;margin-bottom:0px">

                {% if image %}
                    <img {% if image.width %}width="{{ image.width }}"{% endif %} {% if image.height %}height="{{ image.height }}"{% endif %} src="{{ values }}"/>
                {% else %}
            asd        {{ values }} asd
                {% endif %}                
                </div>

