

{% if showdiv %}
<div class="{% if ismultiple %}row{% endif %}" id="{{ name }}div">
{% endif %}

	{% if values %}
	{% for value in values %}
	<div class="{% if ismultiple %}col-lg-3 col-md-6 col-sm-6{% endif %}">
		<div class="block">

			<div class="breadcrumb-line mymediabread">
				<ul class="breadcrumb">
					<div class="{{ elements.info.class }} mymediainfo">{{ value[ elements.info.key ] }}</div>

					{% for option in elements.fixed.options %}
						{% if ( option.value is defined and option.value is same as( value[ elements.fixed.kval ] )  ) %}
							<span class="{{ option.type }}">{{ option.label ? option.label : value[ elements.fixed.kval ] }}</span>
						{% endif %}
					{% endfor %}
				</ul>


				{% if elements.menu %}
				<ul class="breadcrumb-buttons">

					<li class="dropdown mymediadrop">
						<a class="dropdown-toggle mymediamenu" data-toggle="dropdown"> <i id="mymediaicon" class="icon-cog4"></i> </a>
						<ul class="dropdown-menu dropdown-menu-right icons-right">


							{% for option in elements.menu.options %}
								{% if (option.depends is not defined or value[ option.depends ] ) %}
									{% set optiondisabled = ( option.showdepends is defined and ( ( value[ option.showdepends ] is defined and not value[ option.showdepends ] ) or ( value[ option.showdepends ] is not defined ) ) ) %}
									<li{{ optiondisabled ? ' class="disabled"' }}><a {{ not optiondisabled ? option.urlobj|urlobj( value, tags ) }}>{% if option.icon %}<i class="{{ option.icon }}"></i> {% endif %}{{ option.label }}</a></li>
								{% endif %}
							{% endfor %}


						</ul>
					</li>
				</ul>
				{% endif %}



			</div>


			<div class="thumbnail thumbnail-boxed">
				<div>
					{% if elements.thumb and value[ elements.thumb.key ] %}
						<img class="{{ elements.thumb.class }}" src="{{ value[ elements.thumb.key ] }}"/>
					{% elseif elements.video and value[ elements.video.key ] %}
						<video controls class="{{ elements.video.class }}"><source src="{{ value[ elements.video.key ] }}" type="video/mp4" /></video>
					{% endif %}
				</div>
				<div class="caption">

					<a {{ elements.title.urlobj|urlobj( value, tags ) }} class="caption-title">{{ value[ elements.title.keytitle ] }}</a>

					{% if elements.description.mini %}
						{{ value[ elements.description.key ]|t( 25 ) }}
					{% else %}
						{{ value[ elements.description.key ]|t( 10000 )|nl2br }}
					{%  endif %}

					{%  if elements.button %}
						<a type="button" {{ elements.button.urlobj|urlobj( value, tags ) }} class="btn btn-default" style="width:100%;margin-top:20px">{{ elements.button.label }}</a>
					{%  endif %}

					{% if elements.small %}
					<hr/>
					<small>{{ elements.small.prefix }}{{ value[ elements.small.key ]|t(30) }}
						{{ elements.smallfixed.prefix|raw }}
						{% for option in elements.smallfixed.options %}
							{% if ( option.value is defined and option.value is same as(value[ elements.smallfixed.key ])  ) %}
								{{ option.label ? option.label : value }}
							{% endif %}
						{% endfor %}
						&nbsp;
					</small>
					{% endif %}

					{% if elements.rating %}
						<div style="display:block">
							{{ elements.rating.obj.setvalue( value[ elements.rating.key ] ).setOtherValues( value )|raw }}
						</div>
					{% endif %}

				</div>
			</div>
		</div>


	</div>

	{% endfor %}
	{% elseif emptymsg %}
		<div style="margin: 0px 20%" class="callout {{ emptymsg.class }} fade in">
			{% if emptymsg.title %}<h5>{{ emptymsg.title }}</h5>{% endif %}
			{% if emptymsg.message %}<p>{{ emptymsg.message }}</p>{% endif %}
		</div>
	{% endif %}


	{% if showdiv %}
</div>
{% endif %}